.sorting-area {
    &__radio {
        &-group {
            padding-top: 1.25vw;
            padding-right: 0.7vw;
            padding-bottom: 1.25vw;
            padding-left: 2.45vw;
            background-color: #fff;
            width: 11.2vw;
        }
    }
}
