.product-list {
    @mixin product-list-base {
        background-color: #fff;
        margin-top: 1.3vw;
    }

    &__container {
        @include product-list-base;
        
        padding: 10px;
    }

    &__no-content {
        @include product-list-base;

        display: flex;
        justify-items: center;
        padding: 2.45vw;
        font-weight: normal;
        font-size: 1rem;
        color: #525252;
    }

    &__result-icon {
        margin-right: 1.3vw;
    }

    &__title {
        color: #6f6f6f;
        font-size: 1.429rem;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.25px;
        margin-bottom: 1.1vw;
    }
}
